spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
user:
  service:
    url: http://localhost:8081
resilience4j:
    circuitbreaker:
      instances:
        userService:
          registerHealthIndicator: true
          slidingWindowSize: 10
          minimumNumberOfCalls: 3
          failureRateThreshold: 50
          waitDurationInOpenState: 30s